<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/Event" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Angela Zhang</title>
      <meta content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0" id="viewport" name="viewport">
      <link href="./Static/css" media="screen" rel="stylesheet" type="text/css">
      <link href="./Static/page_show-88248fe389f4c3b91e608895434cf42c.css" media="screen" rel="stylesheet" type="text/css">
      <link href="./Static/main-c895ffa4e84e55c6f71b002615630663.css" media="screen" rel="stylesheet" type="text/css">
      <link href="./Static/css(1)" media="screen" rel="stylesheet" type="text/css">
      <link href="./Static/favicon.ico" rel="shortcut icon" type="image/x-icon">
      <meta content="Angela Zhang" property="og:title">
      <meta content="http://www.angelazhang.co" property="og:url">
      <meta content="Angela Zhang" property="og:site_name">
      <meta property="og:description">
      <meta content="Angela Zhang" itemprop="name">
      <meta itemprop="description">
      <meta name="description">
      <meta name="keywords">
      <meta content="//www.angelazhang.co" name="asset-url">
      <meta name="mode">
      <style type="text/css"></style>
   </head>
   <body class="show" id="pages" spellcheck="false" ontouchstart="" screen_capture_injected="true" data-twttr-rendered="true">
      <div class="show-content">
         <ul class="slides">
            <li class="slide selected">
               <a class="section-anchor" data-scroll-name="#1"></a>
               <a class="section-name-anchor" data-section-name="Slogan"></a>
               <div class="wide image resize strikingly-dark-text" data-bind="className: background.selectedClassName, style: {backgroundPosition: &#39;49% 50%&#39;, backgroundImage: &#39;url(&#39;+ background.url() + &#39;)&#39; , backgroundSize: background.style()==&#39;fit&#39;?&#39;cover&#39;:(background.style()==&#39;stretch&#39;?&#39;100%&#39;:&#39;&#39;), backgroundRepeat: background.style()==&#39;tile&#39;?&#39;repeat&#39;:&#39;no-repeat&#39; }" style="background-image: url(http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_1200,w_2000/kwqfrjhpduvyamgmatpf.jpg); padding-top: 134px; padding-bottom: 135px; background-position: 49% 50%; background-repeat: no-repeat no-repeat;">
                  <div class="container">
                     <div class="sixteen columns">
                        <div class="spacer" style="height: 100px; display: none;">&nbsp;</div>
                        <div class="subtitle">
                           <span class="line hide" data-bind="visible:text1.value().length &gt; 0"></span>
                           <div class="ib">
                              <div data-component="text" data-name="text1" data-text-type="body" class="text-component">
                                 <div class="content content2" data-bind="visible: !text1.isState(&#39;editor&#39;), htmlValue: text1.value, style: (window.edit_page.data.bodyFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.bodyFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: inherit;">
                                    <div>Hi, my name is</div>
                                 </div>
                              </div>
                           </div>
                           <span class="line" data-bind="visible:text1.value().length &gt; 0"></span>
                        </div>
                        <div class="title big">
                           <div data-component="text" data-name="text2" data-text-type="title" class="text-component">
                              <div class="content content2" data-bind="visible: !text2.isState(&#39;editor&#39;), htmlValue: text2.value, style: (window.edit_page.data.titleFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.titleFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: Brandon;">
                                 <div>Angela Zhang.</div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <br>
                     </div>
                  </div>
                  <div class="background content bg-image strikingly-dark-text" data-bind="className: background.selectedClassName, style: {backgroundPosition: &#39;49% 50%&#39;, backgroundImage: &#39;url(&#39;+ background.url() + &#39;)&#39; , backgroundSize: background.style()==&#39;fit&#39;?&#39;cover&#39;:(background.style()==&#39;stretch&#39;?&#39;100%&#39;:&#39;&#39;), backgroundRepeat: background.style()==&#39;tile&#39;?&#39;repeat&#39;:&#39;no-repeat&#39; }" style="background-image: url(http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_1200,w_2000/izlr05i4ufmyoykv4ajb.jpg); background-position: 49% 50%; background-repeat: no-repeat no-repeat;"></div>
               </div>
            </li>
            <li class="slide">
               <a class="section-anchor" data-scroll-name="#2"></a>
               <a class="section-name-anchor" data-section-name="What I Do"></a>
               <div class="wide">
                  <div class="container">
                     <div class="row big">
                        <div class="ten columns offset-three">
                           <div class="title center">
                              <div class="ib relative">
                                 <span class="line-abs" data-bind="visible:title.hasContent()" style="display: none;"></span>
                                 <div data-component="text" data-name="title" data-text-type="heading" class="text-component">
                                    <div class="content content2" data-bind="visible: !title.isState(&#39;editor&#39;), htmlValue: title.value, style: (window.edit_page.data.headingFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.headingFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: inherit;"></div>
                                 </div>
                                 <span class="line-abs right" data-bind="visible:title.hasContent()" style="display: none;"></span>
                              </div>
                              <span class="line fixed-show" data-bind="visible:title.hasContent()" style="display: none;"></span>
                           </div>
                           <div class="title2 center">
                              <div data-component="text" data-name="subtitle" data-text-type="body" class="text-component">
                                 <div class="content content2" data-bind="visible: !subtitle.isState(&#39;editor&#39;), htmlValue: subtitle.value, style: (window.edit_page.data.bodyFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.bodyFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: inherit;">
                                    <div>I'm a sophomore at MIT studying Computer Science. 
                                       <br><br>
                                       I'm passionate in Data Analysis (Hadoop, Machine Learning, Recommendation Engine), Consumer Web &amp; Electronics, and Energy.
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="center match-heights">
                        <div class="socialMedia content repeatable-component" data-bind="template: {
                           foreach: socialMedia.list, 
                           name: &#39;media_box&#39;
                           }, sortableRepeatable: socialMedia.list">
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 162px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="http://www.asortistyle.com/" target="_blank"> <img alt="" src="./Static/asorti.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;">
                                    <div><a title="Asorti" href="http://www.asortistyle.com/" target="_blank"><strong>Asorti</strong></a></div>
                                    <div>Technical Co-Founder</div>
                                 </div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;">
                                    <div>Asorti is a clothing recommendation plugin that generates diverse and credible outfits for every item in the catalog.</div>
                                 </div>
                              </div>
                              <br> <br> 
                           </div>
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 162px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="http://www.yahoo.com/" target="_self"> <img alt="" src="./Static/yahoo.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;">
                                    <div><a title="Yahoo!" href="http://www.yahoo.com/" target="_blank"><strong>Yahoo!</strong></a></div>
                                    <div>Hadoop &amp; QA Engineer Intern</div>
                                 </div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;">
                                    <div>Completed the&nbsp;first production version of a uniform web interface for querying and storing User Data &amp; Analytics data across different Hive databases.</div>
                                 </div>
                              </div>
                              <br> <br> 
                           </div>
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 162px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="http://www.quickable.com/" target="_self"> <img alt="" src="./Static/quickable.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;">
                                    <div><a href="http://www.quickable.com/"><strong>Quickable</strong></a></div>
                                    <div>Android Engineer Intern</div>
                                 </div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;">
                                    <div>Quickable is an Android-based marketplace management platform for sellers. As an Android intern over the summer, I led several major code refactoring and feature additions.</div>
                                 </div>
                              </div>
                              <br> <br> 
                           </div>
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 162px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="http://romuluscap.com/" target="_self"> <img alt="" src="./Static/romulus.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;">
                                    <div><a href="http://romuluscap.com/"><strong>Romulus Capital</strong></a></div>
                                    <div>Associate</div>
                                    <br>
                                 </div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;">
                                    <div>Romulus is an investor in seed-stage technology companies. As an associate, I source investment opportunities, conduct due diligence, and assist portfolio companies.</div>
                                 </div>
                              </div>
                              <br> <br> 
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
            </li>
            <li class="slide">
               <a class="section-anchor" data-scroll-name="#3"></a>
               <a class="section-name-anchor" data-section-name="What Others Say"></a>
               <div class="wide image resize strikingly-light-text" data-bind="className: background.selectedClassName, style: {backgroundPosition: &#39;49% 50%&#39;, backgroundImage: &#39;url(&#39;+ background.url() + &#39;)&#39; , backgroundSize: background.style()==&#39;fit&#39;?&#39;cover&#39;:(background.style()==&#39;stretch&#39;?&#39;100%&#39;:&#39;&#39;), backgroundRepeat: background.style()==&#39;tile&#39;?&#39;repeat&#39;:&#39;no-repeat&#39; }" style="background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg1.jpg); padding-top: 56px; padding-bottom: 57px; background-position: 49% 50%; background-repeat: no-repeat no-repeat;">
                  <div class="container">
                     <div class="sixteen columns">
                        <div class="spacer" style="height: 100px; display: none;">&nbsp;</div>
                        <div class="subtitle">
                           <span class="line hide" data-bind="visible:text1.value().length &gt; 0"></span>
                           <div class="ib">
                              <div data-component="text" data-name="text1" data-text-type="body" class="text-component">
                                 <div class="content content2" data-bind="visible: !text1.isState(&#39;editor&#39;), htmlValue: text1.value, style: (window.edit_page.data.bodyFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.bodyFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: inherit;">
                                    <div><strong>Languages (fluent)</strong>: English, Mandarin Chinese, Cantonese Chinese</div>
                                    <div><br><strong>Frameworks &amp; Tools</strong>: Hadoop, Django, Ruby on Rails, Bootstrap, Git, SVN, Vi</div>
                                    <div><br><strong>Programming Languages</strong>: Java, Python, C#, C++/CLI, Perl, HTML, CSS, Hadoop Pig &amp; Hive, Ruby</div>
                                    <div><br><strong>Machine Shop Skills</strong>: CNC Router, Mill, Lathe, Band Saw, Drill Press, Hand Drill, Solder</div>
                                    <div><br><strong>Interests</strong>: Photography, Outdoor Activities, Energy Sector, Current Events, Economics, Public Speaking</div>
                                 </div>
                              </div>
                           </div>
                           <span class="line" data-bind="visible:text1.value().length &gt; 0"></span>
                        </div>
                        <div class="title big">
                           <div data-component="text" data-name="text2" data-text-type="title" class="text-component">
                              <div class="content content2" data-bind="visible: !text2.isState(&#39;editor&#39;), htmlValue: text2.value, style: (window.edit_page.data.titleFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.titleFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: Brandon;"></div>
                           </div>
                        </div>
                        <br>
                        <br>
                     </div>
                  </div>
                  <div class="background content bg-image strikingly-light-text" data-bind="className: background.selectedClassName, style: {backgroundPosition: &#39;49% 50%&#39;, backgroundImage: &#39;url(&#39;+ background.url() + &#39;)&#39; , backgroundSize: background.style()==&#39;fit&#39;?&#39;cover&#39;:(background.style()==&#39;stretch&#39;?&#39;100%&#39;:&#39;&#39;), backgroundRepeat: background.style()==&#39;tile&#39;?&#39;repeat&#39;:&#39;no-repeat&#39; }" style="background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg1.jpg); background-position: 49% 50%; background-repeat: no-repeat no-repeat;"></div>
               </div>
            </li>
            <li class="slide">
               <a class="section-anchor" data-scroll-name="#4"></a>
               <a class="section-name-anchor" data-section-name="Let&#39;s Connect"></a>
               <div class="wide">
                  <div class="container">
                     <div class="row big">
                        <div class="ten columns offset-three">
                           <div class="title center">
                              <div class="ib relative">
                                 <span class="line-abs" data-bind="visible:title.hasContent()"></span>
                                 <div data-component="text" data-name="title" data-text-type="heading" class="text-component">
                                    <div class="content content2" data-bind="visible: !title.isState(&#39;editor&#39;), htmlValue: title.value, style: (window.edit_page.data.headingFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.headingFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: inherit;">
                                       <div>Choose among the following.</div>
                                       <div>&nbsp;</div>
                                       <div>Alternatively, I'm always down for chatting over a nice cup of Latte.</div>
                                    </div>
                                 </div>
                                 <span class="line-abs right" data-bind="visible:title.hasContent()"></span>
                              </div>
                              <span class="line fixed-show" data-bind="visible:title.hasContent()"></span>
                           </div>
                           <div class="title2 center">
                              <div data-component="text" data-name="subtitle" data-text-type="body" class="text-component">
                                 <div class="content content2" data-bind="visible: !subtitle.isState(&#39;editor&#39;), htmlValue: subtitle.value, style: (window.edit_page.data.bodyFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.bodyFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: inherit;"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="center match-heights">
                        <div class="socialMedia content repeatable-component" data-bind="template: {
                           foreach: socialMedia.list, 
                           name: &#39;media_box&#39;
                           }, sortableRepeatable: socialMedia.list">
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 80px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="https://twitter.com/zhangela1" target="_blank"> <img alt="" src="./Static/9608.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <br> <br> 
                           </div>
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 80px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="http://www.linkedin.com/in/zhanganqi" target="_blank"> <img alt="" src="./Static/9611.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <br> <br> 
                           </div>
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 80px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="https://www.facebook.com/angela.zhang.17" target="_blank"> <img alt="" src="./Static/9609.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <br> <br> 
                           </div>
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 80px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="javascript:void(0);" target="_blank"> <img alt="" src="./Static/zuwxw580eayspyqmhxfy.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <br> <br> 
                           </div>
                           <!---->
                           <div class="three columns center no-float repeatable">
                              <div class="small-image" data-component="image" data-name="components.image" data-use-url="true" style="height: 105px;">
                                 <div class="content content2" style="visibility: visible; opacity: 1;">  <a href="mailto: angelaz@mit.edu" target="_blank"> <img alt="" src="./Static/9612.png" data-image-loaded="true"> </a>  </div>
                              </div>
                              <br> <br> 
                              <div class="subtitle small text-component" data-component="text" data-name="components.title" data-text-type="heading" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <div class="text text-component" data-component="text" data-name="components.subtitle" data-use-font="true">
                                 <div class="content content2" style="font-family: inherit;"></div>
                              </div>
                              <br> <br> 
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
         <div class="widecontainer" data-bind-page="visible:showFooter" id="footer-container" style="display: none;">
            <div class="container" id="footer">
               <div id="footer-social-media">
                  <br>
                  <div class="socialMedia content">
                     <div class="social-media-display">
                        <ul class="links" data-bind="template: {name:&#39;socialMediaLinks&#39;, foreach: socialMedia.link_list }" style="clear:both;">
                           <!---->
                           <li style="display: none;">
                              <!----><a target="_blank" href=""> <img src="./Static/facebook-006df763e767e6198c6e922e7d560056.png"> </a>
                           </li>
                           <!---->
                           <li style="display: none;">
                              <!----><a target="_blank" href=""> <img src="./Static/twitter-287881e23131de8062be8c2da861dec0.png"> </a>
                           </li>
                           <!---->
                           <li style="display: none;">
                              <!----><a target="_blank" href=""> <img src="./Static/renren-a30469695c7f6d63135454cbcbf96df8.png"> </a>
                           </li>
                           <!---->
                           <li style="display: none;">
                              <!----><a target="_blank" href=""> <img src="./Static/weibo-b705d88459da23225ace09ba2f789e45.png"> </a>
                           </li>
                           <!---->
                           <li style="display: none;">
                              <!----><a target="_blank" href=""> <img src="./Static/gplus-3e1280ac0334cf0254794201449e9c4a.png"> </a>
                           </li>
                        </ul>
                        <ul class="buttons" data-bind="html: socialMedia.mediaListHtml">
                           <div class="col fb-counter">
                              <fb:like href="http://angelazhang.co" send="false" layout="button_count" data-width="100" show_faces="false" font="arial" fb-xfbml-state="rendered" class="fb_edge_widget_with_comment fb_iframe_widget"><span style="height: 20px; width: 75px;"><iframe id="f37ca06794" name="f98f61658" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 75px;" title="Like this content on Facebook." class="fb_ltr" src="./Static/like.html"></iframe></span></fb:like>
                           </div>
                           <div class="col twitter-counter"><iframe allowtransparency="true" frameborder="0" scrolling="no" src="./Static/tweet_button.1363148939.html" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe></div>
                           <div class="col gplus-counter">
                              <div style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; width: 90px; height: 20px; display: inline-block; background-position: initial initial; background-repeat: initial initial;" id="___plusone_0"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; height: 20px; visibility: visible;" tabindex="0" vspace="0" width="100%" id="I0_1364321956792" name="I0_1364321956792" src="./Static/fastbutton.html" allowtransparency="true" data-gapiattached="true" title="+1"></iframe></div>
                           </div>
                        </ul>
                     </div>
                  </div>
               </div>
               <div id="footer-text">
                  <div data-component="text" data-name="copyright" data-text-type="body" class="text-component">
                     <div class="content content2" data-bind="visible: !copyright.isState(&#39;editor&#39;), htmlValue: copyright.value, style: (window.edit_page.data.bodyFont() != &#39;&#39;) ? {fontFamily: window.edit_page.data.bodyFont } : {fontFamily: &#39;inherit&#39; }" style="font-family: inherit;">
                        <div>Copyright 2013 Angela Zhang</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="strikingly-footer-spacer" data-bind-page="visible:!showFooter()"></div>
         <div class="logo-footer" data-bind-page="visible: showStrikinglyLogo" id="strikingly-footer-logo" style="bottom: -100px; position: fixed; display: block;">
            <a href="https://www.strikingly.com/?ref=logo&permalink=zhangela" target="_blank"></a>
            <div class="logo-hover"></div>
         </div>
      </div>
      <script id="socialMediaLinks" type="text/x-jquery-tmpl">
         {{ko_code ((function() { return ko.templateRewriting.applyMemoizedBindingsToNextSibling(function() {                         return (function() { return { visible: show_link(), template: { name: type(), data: $item.data } } })()                     }) })()) }}<li ></li>
      </script>
      <script id="Facebook" type="text/x-jquery-tmpl">
         {{ko_code ((function() { return ko.templateRewriting.applyMemoizedBindingsToNextSibling(function() {                         return (function() { return { attr: {href: link_url} } })()                     }) })()) }}<a  target='_blank'>
         <img src='//www.strikingly.com/assets/icons/facebook-006df763e767e6198c6e922e7d560056.png'>
         </a>
      </script>
      <script id="SinaWeibo" type="text/x-jquery-tmpl">
         {{ko_code ((function() { return ko.templateRewriting.applyMemoizedBindingsToNextSibling(function() {                         return (function() { return { attr: {href: link_url} } })()                     }) })()) }}<a  target='_blank'>
         <img src='//www.strikingly.com/assets/icons/weibo-b705d88459da23225ace09ba2f789e45.png'>
         </a>
      </script>
      <script id="Renren" type="text/x-jquery-tmpl">
         {{ko_code ((function() { return ko.templateRewriting.applyMemoizedBindingsToNextSibling(function() {                         return (function() { return { attr: {href: link_url} } })()                     }) })()) }}<a  target='_blank'>
         <img src='//www.strikingly.com/assets/icons/renren-a30469695c7f6d63135454cbcbf96df8.png'>
         </a>
      </script>
      <script id="Twitter" type="text/x-jquery-tmpl">
         {{ko_code ((function() { return ko.templateRewriting.applyMemoizedBindingsToNextSibling(function() {                         return (function() { return { attr: {href: link_url} } })()                     }) })()) }}<a  target='_blank'>
         <img src='//www.strikingly.com/assets/icons/twitter-287881e23131de8062be8c2da861dec0.png'>
         </a>
      </script>
      <script id="GPlus" type="text/x-jquery-tmpl">
         {{ko_code ((function() { return ko.templateRewriting.applyMemoizedBindingsToNextSibling(function() {                         return (function() { return { attr: {href: link_url} } })()                     }) })()) }}<a  target='_blank'>
         <img src='//www.strikingly.com/assets/icons/gplus-3e1280ac0334cf0254794201449e9c4a.png'>
         </a>
      </script>
      <script id="socialMediaEditorForButtonsTemplate" type="text/x-jquery-tmpl">
         <li class='social-media-item'>
         <input data-bind='checked: show_button' type='checkbox'>
         <img class='thumb' data-bind='attr: { src: imageUrl }'>
         <label data-bind='text: getSubtitle() '></label>
         <input data-bind='value: share_text, visible: type()=="Twitter"' size='50'>
         </li>
      </script>
      <script id="socialMediaEditorForLinksTemplate" type="text/x-jquery-tmpl">
         <li class='social-media-item'>
         <img class='thumb' data-bind='attr: { src: imageUrl }'>
         <label>Link Url</label>
         <input data-bind='value: link_url' size='50'>
         </li>
      </script>
      <script id="lightboxImageTemplate" type="text/x-jquery-tmpl">
         <div class='thumb' data-bind='mouseenter : mouseenterHandler, mouseleave: mouseleaveHandler, mouseclick: clickGalleryEditorHandler, sortableItem:$data'>
         <div class='edit-overlay' data-bind="visible: isState('overlay')" style='display:none'>
         <span class='edit-button'>Edit</span>
         </div>
         <a class='item' data-bind='attr: { href: url }'>
         <img data-bind='attr: { src: thumb_url, alt: caption, title: caption, "data-description": description }'>
         </a>
         </div>
      </script>
      <script id="lightboxImageTemplateShow" type="text/x-jquery-tmpl">
         <div class='thumb'>
         <a class='item' data-bind='attr: { href: url }'>
         <img data-bind='attr: { src: thumb_url, alt: caption, title: caption, "data-description": description }'>
         </a>
         </div>
      </script>
      <!-- ==================== -->
      <!-- = Content Partials = -->
      <!-- ==================== -->
      <script id="textContent-partial" type="text/x-underscore-tmpl">
         {{ if (useFont) {  }}
         <div class='content content2' data-bind="visible: !{{=name}}.isState('editor'), htmlValue: {{=name}}.value, style: (window.edit_page.data.{{=textType}}() != '') ? {fontFamily: window.edit_page.data.{{=textType}} } : {fontFamily: 'inherit' }">
         {{=content}}
         </div>
         {{ } else { }}
         <div class='content content2' data-bind="visible: !{{=name}}.isState('editor'), htmlValue: {{=name}}.value">
         {{=content}}
         </div>
         {{ } }}
      </script>
      <script id="imageContent-partial" type="text/x-underscore-tmpl">
         <div class='content content2' data-bind="fadeVisibleAndHide: !{{=name}}.isState('editor')">
         {{ if (useUrl) {  }}
         <a data-bind='attr: {href: {{=name}}.link(), target: {{=name}}.target() }'>
         <img alt="{{=caption}}" data-bind="attr: { src: {{=name}}.url, alt: {{=name}}.caption }" src="//www.strikingly.com/assets/icons/transparent.png" />
         </a>
         {{ } else { }}
         <img alt="{{=caption}}" data-bind="attr: { src: {{=name}}.url, alt: {{=name}}.caption }" src="//www.strikingly.com/assets/icons/transparent.png" />
         {{ } }}
         </div>
      </script>
      <script id="htmlContent-partial" type="text/x-underscore-tmpl">
         <div class='content content2' data-bind='pureHtmlValue: {{=name}}.htmlValue'></div>
      </script>
      <div class="navbar-drawer strikingly-drawer strikingly-nav-transition">
         <ul id="nav-drawer-list" style="height: 664px;">
            <span data-bind-page="template: {name:&#39;strikinglyNavbarTouchItemTemplate&#39;, foreach: slides}">
               <!---->
               <li style="display: none;"> <a class=" selected" href="./Static/Angela Zhang on Strikingly.html">Slogan</a> </li>
               <!---->
               <li> <a href="http://www.strikingly.com/zhangela#2" class="">What I Do</a> </li>
               <!---->
               <li> <a href="http://www.strikingly.com/zhangela#3" class="">What Others Say</a> </li>
               <!---->
               <li> <a href="http://www.strikingly.com/zhangela#4" class="">Let's Connect</a> </li>
            </span>
            <span data-bind-page="template: {name:&#39;strikinglyNavbarTouchLinkTemplate&#39;, foreach: submenu.list}"></span>
            <li class="logo" data-bind-page="visible: showStrikinglyLogo" id="strikingly-footer-logo">
               <a class="logo" href="https://www.striking.ly/?ref=logo&permalink=zhangela&m=1" target="_blank">
                  <div class="msg">Powered By</div>
                  <img alt="Strikingly" src="./Static/logo-small-2-0d0660c8e7205e54045d6e0ab3724eb7.png">
               </a>
            </li>
         </ul>
      </div>
      
      <script id="strikinglyNavbarTouchItemTemplate" type="text/x-jquery-tmpl">
         {{ko_code ((function() { return ko.templateRewriting.applyMemoizedBindingsToNextSibling(function() {                         return (function() { return { visible: components.slideSettings.show_nav, '_ko_property_writers' : { visible : function(__ko_value) { components.slideSettings.show_nav = __ko_value; } }  } })()                     }) })()) }}<li >
         {{ko_code ((function() { return ko.templateRewriting.applyMemoizedBindingsToNextSibling(function() {                         return (function() { return { text:components.slideSettings.name, css: {selected: isSelected()}, attr: { href: hashHref() }, mouseclick: Bobcat.TH.toggleDrawer , '_ko_property_writers' : { text : function(__ko_value) { components.slideSettings.name = __ko_value; }, mouseclick : function(__ko_value) { Bobcat.TH.toggleDrawer = __ko_value; } }  } })()                     }) })()) }}<a ></a>
         </li>
      </script>
      <script id="strikinglyNavbarTouchLinkTemplate" type="text/x-jquery-tmpl">
         <li>
         <a data-bind='text:components.link.text, attr: { href: components.link.link_url(), target: components.link.target() }'></a>
         </li>
      </script>
      <div id="fb-root" class=" fb_reset">
         <div class="facebook_script">
            <script async="async" src="./Static/all.js"></script>
         </div>
         <div class="twitter_script">
            <script async="async" src="./Static/widgets.js"></script>
         </div>
         <div class="gplus_script">
            <script async="async" src="./Static/plusone.js" gapi_processed="true"></script>
         </div>
         <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" style="border: none;" src="./Static/xd_arbiter.html"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" style="border: none;" src="./Static/xd_arbiter(1).html"></iframe></div>
         </div>
         <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div></div>
         </div>
      </div>

      <script type="text/javascript">
         (function() {
         var gd = document.createElement('script'); gd.type = 'text/javascript'; gd.async = true;
         gd.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'd1lm7kd3bd3yo9.cloudfront.net/grepdata.min.gz.js?v=1';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gd, s);
         })();
      </script><script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
         NREUMQ.push(["load",new Date().getTime()]);
         var e=document.createElement("script");
         e.type="text/javascript";
         e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
           "d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js";
         document.body.appendChild(e);
         if(NREUMQ.a)NREUMQ.a();
         };
         NREUMQ.a=window.onload;window.onload=NREUMQ.f;
         };
         NREUMQ.push(["nrfj","beacon-3.newrelic.com","a6f3b4ef5c","1457598","cVgMFUdbVQkBFB5HVlVSEU5GXFYS",10,331,new Date().getTime(),"","","","",""]);
      </script>
      <script type="text/javascript" src="./Static/rum.js"></script><script type="text/javascript" src="./Static/a6f3b4ef5c"></script>
   </body>
</html>